<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [4]:
import pandas as pd

Load the dataset into a dataframe.

In [3]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [5]:
# your code goes here

# Find and count duplicate rows
duplicate_rows = df[df.duplicated()]
num_duplicate_rows = duplicate_rows.shape[0]

print(f"Number of duplicate rows: {num_duplicate_rows}")

Number of duplicate rows: 154

In [10]:
# Count the number of duplicate values in the "Respondent" column
duplicate_count = df['Respondent'].duplicated().sum()

# Display the count of duplicate values
print("Number of Duplicate Values in 'Respondent' Column:", duplicate_count)

Number of Duplicate Values in 'Respondent' Column: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [6]:
# your code goes here
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()

# Print the shape of the DataFrame after removing duplicates
print(f"Shape of DataFrame after removing duplicates: {df_no_duplicates.shape}")

Shape of DataFrame after removing duplicates: (11398, 85)

Verify if duplicates were actually dropped.

In [7]:
# your code goes here

# Verify if duplicates were dropped
if df_no_duplicates.shape[0] < df.shape[0]:
    print("Duplicates were successfully dropped.")
else:
    print("No duplicates found or duplicates were not dropped.")

Duplicates were successfully dropped.

In [19]:
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()

# Get the number of rows in the updated DataFrame
num_rows_after_removal = df_no_duplicates.shape[0]

# Display the result
print("Number of rows after removing duplicates:", num_rows_after_removal)

Number of rows after removing duplicates: 11398

In [20]:
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()

# Get the number of unique values in the 'Respondent' column
num_unique_respondents = df_no_duplicates['Respondent'].nunique()

# Display the result
print("Number of unique Respondents after removing duplicates:", num_unique_respondents)

Number of unique Respondents after removing duplicates: 11398

In [21]:
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()

# Count the number of blank rows in the 'Edlevel' column
num_blank_edlevel_rows = df_no_duplicates['EdLevel'].isnull().sum()

# Display the result
print("Number of blank rows in the 'Edlevel' column after removing duplicates:", num_blank_edlevel_rows)

Number of blank rows in the 'Edlevel' column after removing duplicates: 112

In [22]:
# Remove duplicate rows
df_no_duplicates = df.drop_duplicates()

# Count the number of missing values in the 'Country' column
num_missing_country_rows = df_no_duplicates['Country'].isnull().sum()

# Display the result
print("Number of rows with missing values in the 'Country' column after removing duplicates:", num_missing_country_rows)

Number of rows with missing values in the 'Country' column after removing duplicates: 0

## Finding Missing values

Find the missing values for all columns.

In [8]:
# your code goes here

# Find missing values for all columns
missing_values = df.isnull().sum()

# Display the missing values
print("Missing Values for Each Column:")
print(missing_values)

Missing Values for Each Column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [11]:
# Count the number of missing values in the "WorkLoc" column
missing_workloc_count = df['WorkLoc'].isnull().sum()

# Display the count of missing values in the "WorkLoc" column
print("Number of Missing Values in 'WorkLoc' Column:", missing_workloc_count)

Number of Missing Values in 'WorkLoc' Column: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [12]:
# your code goes here

# Display the value counts for the "WorkLoc" column
workloc_value_counts = df['WorkLoc'].value_counts()

# Display the result
print("Value Counts for 'WorkLoc' Column:")
print(workloc_value_counts)

Value Counts for 'WorkLoc' Column:
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [13]:
#make a note of the majority value here, for future reference
# Find the most frequent value in the "WorkLoc" column
most_frequent_workloc = df['WorkLoc'].mode().iloc[0]

# Display the result
print("Most Frequent Value in 'WorkLoc' Column:", most_frequent_workloc)

Most Frequent Value in 'WorkLoc' Column: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [15]:
# your code goes here
# Replace empty values in 'WorkLoc' column with the identified majority value ('office')
df['WorkLoc'].fillna(most_frequent_workloc, inplace=True)

# Verify that missing values are imputed
missing_values_after_imputation = df['WorkLoc'].isnull().sum()

# Display the result
print("Number of Missing Values in 'WorkLoc' After Imputation:", missing_values_after_imputation)

Number of Missing Values in 'WorkLoc' After Imputation: 0

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [16]:
# your code goes here
missing_values_after_imputation = df['WorkLoc'].isnull().sum()
print(missing_values_after_imputation)

0

In [23]:
# Find the value counts for the 'Employment' column
employment_value_counts = df['Employment'].value_counts()

# Display the value counts
print("Value counts for the 'Employment' column:")
print(employment_value_counts)

# Identify the majority category
majority_category = employment_value_counts.idxmax()

# Display the majority category
print("\nThe majority category in the 'Employment' column is:", majority_category)

Value counts for the 'Employment' column:
Employed full-time    11113
Employed part-time      439
Name: Employment, dtype: int64

The majority category in the 'Employment' column is: Employed full-time

In [24]:
# Find the value counts for the 'UndergradMajor' column
undergrad_major_value_counts = df['UndergradMajor'].value_counts()

# Display the value counts
print("Value counts for the 'UndergradMajor' column:")
print(undergrad_major_value_counts)

# Identify the category with the minimum number of rows
min_rows_category = undergrad_major_value_counts.idxmin()

# Display the category with the minimum number of rows
print("\nThe category with the minimum number of rows in 'UndergradMajor' is:", min_rows_category)

Value counts for the 'UndergradMajor' column:
Computer science, computer engineering, or software engineering          7053
Information systems, information technology, or system administration     806
Another engineering discipline (ex. civil, electrical, mechanical)        769
Web development or web design                                             417
A natural science (ex. biology, chemistry, physics)                       409
Mathematics or statistics                                                 375
A business discipline (ex. accounting, finance, marketing)                247
A social science (ex. anthropology, psychology, political science)        212
A humanities discipline (ex. literature, history, philosophy)             209
Fine arts or performing arts (ex. graphic design, music, studio art)      165
I never declared a major                                                  126
A health science (ex. nursing, pharmacy, radiology)                        24
Name: UndergradMajor, dtype: int64

The category with the minimum number of rows in 'UndergradMajor' is: A health science (ex. nursing, pharmacy, radiology)

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [17]:
# your code goes here
# Display unique values in the 'CompFreq' column
compfreq_categories = df['CompFreq'].unique()

# Print the list of categories
print("Categories in the 'CompFreq' column:", compfreq_categories)

Categories in the 'CompFreq' column: ['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [18]:
# your code goes here
# Create a new column 'NormalizedAnnualCompensation' based on CompFreq
df['NormalizedAnnualCompensation'] = df.apply(
    lambda row: row['CompTotal'] if row['CompFreq'] == 'Yearly' else (
        row['CompTotal'] * 12 if row['CompFreq'] == 'Monthly' else (
            row['CompTotal'] * 52 if row['CompFreq'] == 'Weekly' else None
        )
    ), axis=1
)

# Display the updated DataFrame with the new column
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']])

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11552 rows x 3 columns]

In [27]:
median_normalized_compensation = df['NormalizedAnnualCompensation'].median()
print("Median Normalized Annual Compensation:", median_normalized_compensation)

Median Normalized Annual Compensation: 100000.0

In [26]:
yearly_paid_count = df[df['CompFreq'] == 'Yearly']['Respondent'].nunique()
print("Number of respondents being paid yearly:", yearly_paid_count)

Number of respondents being paid yearly: 6073

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).